.about {
    width: 170px;
    height: 250px;
    border-radius: 50%;
    border-style: dotted;
    border-color: black;
    margin: 3%;
}

.aboutme-container {
    color: #65a1b7;
    margin: 3%;
}

.aboutme-text {
    color: grey; 
    margin: 3%;
    padding: 2%;
}