.aboutImg {
    width: 170px;
    height: 250px;
    border-radius: 50%;
    border-style: dotted;
    border-color: pink;
    margin: 3%;
}

.aboutme-container {
    font-family: 'Lato', sans-serif;
  
}

.aboutme-text {
    margin: 3%;
    padding: 2%;
}