.header {
  background: #13f960;
  height: 200px;
  font-family: 'Julius Sans One', sans-serif;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
