.nav-tabs {
    list-style: none;
    color: darkgrey;
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 2%;
    font-family: 'Inconsolata', monospace;
}

a:link { 
    text-decoration: none; 
    color: darkgray; 
}

a:hover {
    color: grey;
}
